---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))].sort();
---

<Layout title="Tags" description="List of tags used.">
  <Container>
    <div class="space-y-6">
      <span class="section-label">All Tags</span>
      <div class="flex flex-wrap gap-1.5">
        {
          tags.map((tag) => (
            <a href={`/tags/${tag}`} class="tag">
              {tag}{" "}
              <span style="opacity: 0.6;">
                ({posts.filter((post) => post.data.tags?.includes(tag)).length})
              </span>
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
