---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
  index?: number;
};

const { entry, index } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class:list={["ruled-row", index === undefined && "no-number"]}
>
  {
    index !== undefined && (
      <span class="row-num">{String(index + 1).padStart(2, "0")}</span>
    )
  }
  <span class="row-title">{entry.data.title}</span>
  <span class="row-meta">
    <FormattedDate date={entry.data.date} />
  </span>
</a>
