---
import Container from "@components/Container.astro";
---

<footer>
  <Container>
    <div class="relative">
      <div class="absolute -top-10 right-0">
        <button
          id="back-to-top"
          aria-label="Back to top"
          class="back-link cursor-pointer"
          style="font-size: 0.55rem;"
        >
          Top &uarr;
        </button>
      </div>
    </div>
    <div
      class="flex items-center justify-between"
      style="font-family: var(--font-mono);"
    >
      <span>adamr.io</span>
      <span>&copy; {new Date().getFullYear()}</span>
    </div>
  </Container>
</footer>
