---
type Props = {
  href: string;
  external?: boolean;
};

const { href, external, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class="content-link"
  {...rest}
>
  <slot />
</a>
